dashboard {
  ion-col {
    flex-grow: 1 !important;
    min-width: 200px !important;
    max-width: 25% !important;
    flex-basis: 200px !important;
  }

  ion-card {
    min-width: 200px;
  }

  .class-background {
    position: relative;
    height: 100px;
    background-color: red;

    img {
      position: absolute;
      left: calc(50% - 75px);
      top: 25px;
      width: 150px;
      height: 150px;
      border-radius: 100px;
    }
  }

  ion-card-content {
    margin-top: 55px;
  }

  .class-links {
    text-align: center;
  }

}
